<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ReciterVotingApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="voteDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vote
        </a>
        <div class="dropdown-menu" aria-labelledby="voteDropdown">
          <a class="dropdown-item disabled" href="#"><b>Popular Chapters</b></a>
          <a class="dropdown-item" href="vote/67">Al-Mulk (The Dominion)</a>
          <a class="dropdown-item" href="vote/78">An-Naba (The Great News)</a>
          <a class="dropdown-item" href="vote/87">Al-A'la (The Most High)</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#pickModal">Pick A Chapter</a>
        </div>
      </li>
    </ul>    
    <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
        {% if current_user.permissions == "admin" %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('users') }}">Edit Users</a>
        </li>
        {% endif %}
        {% endif %}
        {% if not current_user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#registerModal">Register</a>
        </li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>

<!-- pick chapter modal -->
<div class="modal fade" id="pickModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
      <div class="row text-center no-gutters">
      <div class="col-sm-8 px-1">
            <select class="form-control" id="chapSelect">
                {% with chapters = [[67 ,"Al-Mulk"], [68 ,"Al-Qalam"], [69 ,"Al-Haqqah"], [70 ,"Al-Ma'aarij"], [71 ,"Nuh"], [72 ,"Al-Jinn"], [73 ,"Al-Muzzammil"], [74 ,"Al-Muddathir"], [75 ,"Al-Qiyamah"], [76 ,"Al-Insan"], [77 ,"Al-Mursalat"], [78 ,"An-Naba'"], [79 ,"An-Nazi'at"], [80 ,"`Abasa"], [81 ,"At-Takweer"], [82 ,"Al-Infitar"], [83 ,"Al-Mutaffifeen"], [84 ,"Al-Inshiqaq"], [85 ,"Al-Burooj"], [86 ,"At-Tariq"], [87 ,"Al-A'la"], [88 ,"Al-Ghashiyah"], [89 ,"Al-Fajr"], [90 ,"Al-Balad"], [91 ,"Ash-Shams"], [92 ,"Al-Lail"], [93 ,"Ad-Dhuha"], [94 ,"Al-Inshirah"], [95 ,"Al-Teen"], [96 ,"al-`Alaq"], [97 ,"Al-Qadr"], [98 ,"Al-Bayyinah"], [99 ,"Az-Zalzala"], [100,"Al-Adiyat"], [101,"al-Qari`ah"], [102,"At-Takathur"], [103,"Al-Asr"], [104,"Al-Humazah"], [105,"Al-Feel"], [106,"Quraish"], [107,"Al-Maa'oun"], [108,"Al-Kawthar"], [109,"Al-Kafiroun"], [110,"An-Nasr"], [111,"Al-Masad"], [112,"Al-Ikhlas"], [113,"Al-Falaq"], [114,"Al-Nas"]] %}
                {% for chapter in chapters %}
                <option>{{chapter[0]}} > {{chapter[1]}}</option>
                {% endfor %}
                {% endwith %}
            </select>
        </div>
        <div class="col-sm-2 px-1">
            <button type="button" class="btn btn-info btn-block" onclick="getChapter()"><i class="fas fa-search"></i></button>
        </div>
        <div class="col-sm-2 px-1">
            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal"><i class="fa fa-window-close" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- login modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
      <div class="px-3">
      <div class="form-group row">
        <label for="formLoginEmail">Email</label>
        <input type="email" class="form-control" id="formLoginEmail" placeholder="name@example.com">
      </div>
      <div class="form-group row">
        <label for="formLoginPassword">Password</label>
        <input type="password" class="form-control" id="formLoginPassword" placeholder="Password">
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-8 px-1">
            <button type="button" onclick="tryLogin()" class="btn btn-primary btn-block" data-dismiss="modal">Login</button>
        </div>
        <div class="col-sm-4 px-1">
            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- register modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
      <div class="px-3">
      <div class="form-group row">
        <label for="formRegisterEmail">Email</label>
        <input type="email" class="form-control" id="formRegisterEmail" placeholder="name@example.com">
      </div>
      <div class="form-group row">
        <label for="formRegisterPassOne">Password</label>
        <input type="password" class="form-control" id="formRegisterPassOne" placeholder="Password">
      </div>
      <div class="form-group row">
        <label for="formRegisterPassTwo">Repeat Password</label>
        <input type="password" class="form-control" id="formRegisterPassTwo" placeholder="Repeat Password">
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-8 px-1">
            <button type="button" onclick="tryRegister()" class="btn btn-primary btn-block" data-dismiss="modal">Register</button>
        </div>
        <div class="col-sm-4 px-1">
            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
    function tryLogin() {
      alert("Attempting login.")
      jQuery.ajax({
          type: "POST",
          url: '/login',
          data: {email: $('#formLoginEmail').val(),
          password: $('#formLoginPassword').val()},
      });
      alert("Login attempted.");
      window.location.href = "/";
    };
    function tryRegister() {
      jQuery.ajax({
          type: "POST",
          url: '/register',
          data: {email: $('#formRegisterEmail').val(),
          password: $('#formRegisterPassOne').val()},
      });
      alert("Register attempted.");
      window.location.href = "/";
    };
    function getChapter() {
      chapter = parseInt($('#chapSelect').val());
      window.location.href = "/vote/" + chapter;
    };
</script>
