<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ReciterVotingApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/feed">Feed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/overview">Overview</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="voteDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vote
        </a>
        <div class="dropdown-menu" aria-labelledby="voteDropdown">
          <a class="dropdown-item disabled" href="#"><b>Popular Verses</b></a>
          <a class="dropdown-item" href="#">Yaseen / The Heart</a>
          <a class="dropdown-item" href="#">Ar-Rahman (The Most Merciful)</a>
          <a class="dropdown-item" href="#">Al-Waaqiah (The Inevitable)</a>
          <a class="dropdown-item" href="#">Al-Mulk (The Dominion)</a>
          <a class="dropdown-item" href="#">Al-A'la (The Most High)</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Pick A Verse</a>
        </div>
      </li>
    </ul>    
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/users">Edit Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
        </li>
    </ul>
  </div>
</nav>