<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

<div class="py-2 mx-auto text-center">
  <h1 class="display-4">Quran Recitation Rankings</h1>
  <p class="lead">Current Standing</p>
</div>
</div>
</div>
<div class="py-1 px-2">
  <canvas id="reciterCanvas" class="currentStandingChart"></canvas>
  <br />
  <canvas id="canvas" class="currentStandingChart"></canvas>
</div>

<script>
    
    var rawData = {{data|tojson}}
    
    var colours = ["#d7191c", "#fdae61", "#ffffbf", "#a6d96a", "#1a9641",]
    var chapterLabels = {{chapterTitles|tojson}}
    var chapterDatasets = []
    var reciterLabels = []
    var reciterData = []
    var reciterDatasets = []
    for (i = 0; i < rawData.length; i++) {
      let chapterData = rawData[i]
      reciterLabels.push(chapterData[0])
      reciterData.push(chapterData[1].reduce((a, b) => a + b, 0))
      chapterDatasets.push({
        label: chapterData[0],
        backgroundColor: colours[i],
        borderColor: colours[i],
        data: chapterData[1],
      })
    }
    for (i = 0; i < reciterLabels.length; i++) {
      var currentData = [0,0,0]
      currentData[i] = reciterData[i]
      reciterDatasets.push({
        label: reciterLabels[i],
        backgroundColor: colours[i],
        borderColor: colours[i],
        data: currentData,
      })
    }
    
    
    var horizontalBarChartData = {
    labels: chapterLabels,
    datasets: chapterDatasets
    };
    
		var barChartData = {
			labels: reciterLabels,
			datasets: reciterDatasets
		};
    
    function autorun() {
    var ctx = document.getElementById("canvas").getContext("2d");
    window.myHorizontalBar = new Chart(ctx, {
        type: "horizontalBar",
        data: horizontalBarChartData,
        options: {
            elements: {
                rectangle: {
                borderWidth: 2
                }
            },
            responsive: true,
            maintainAspectRatio: true,
            aspectRatio: 2/3,
            legend: {
                position: "right"
            },
            title: {
                display: true,
                text: "Ranking of Reciters by Verse"
            }
        }
    });
    var ctx2 = document.getElementById('reciterCanvas').getContext('2d');
			window.myBar = new Chart(ctx2, {
				type: 'bar',
				data: barChartData,
				options: {
					responsive: true,
           maintainAspectRatio: true,
           aspectRatio: 3,
					title: {
						display: true,
						text: 'Ranking of Reciters'
					},
        scales: { xAxes: [{ stacked: true }], yAxes: [{ stacked: true }] }
				}
			});
    }
    if (document.addEventListener)
    document.addEventListener("DOMContentLoaded", autorun, false);
    else if (document.attachEvent)
    document.attachEvent("onreadystatechange", autorun);
    else window.onload = autorun;
</script>

{% endblock %}   