<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

<div class="py-2 mx-auto text-center">
  <h1 class="display-4">Overview</h1>
  <!--p class="lead">Current Votes:</p-->
</div>
<canvas id="canvas"></canvas>

<script>
    var horizontalBarChartData = {
    labels: ["Yaseen / The Heart" ,"Ar-Rahman (The Most Merciful)" ,"Al-Waaqiah (The Inevitable)" ,"Al-Mulk (The Dominion)" ,"Al-A'la (The Most High)"],
    datasets: [
        {
            label: "As-Sudais",
            backgroundColor: "#F1406E",
            borderColor: "#F1406E",
            data: [Math.random()*4, Math.random()*4, Math.random()*4, Math.random()*4, Math.random()*4]
        },
        {
            label: "Al-Shuraim",
            backgroundColor: "#FF9E4E",
            borderColor: "#FF9E4E",
            data: [Math.random()*4, Math.random()*4, Math.random()*4, Math.random()*4, Math.random()*4]
        },
        {
            label: "Abdul Basit",
            backgroundColor: "#9A4FC1",
            borderColor: "#9A4FC1",
            data: [Math.random()*4, Math.random()*4, Math.random()*4, Math.random()*4, Math.random()*4]
        },
        {
            label: "Mishary Rashid",
            backgroundColor: "#0088DF",
            borderColor: "#0088DF",
            data: [Math.random()*4, Math.random()*4, Math.random()*4, Math.random()*4, Math.random()*4]
        },
        {
            label: "Saad Al-Ghamdi",
            backgroundColor: "#00998A",
            borderColor: "#00998A",
            data: [Math.random()*4, Math.random()*4, Math.random()*4, Math.random()*4, Math.random()*4]
        }
    ]
    };
    
    function autorun() {
    var ctx = document.getElementById("canvas").getContext("2d");
    window.myHorizontalBar = new Chart(ctx, {
        type: "horizontalBar",
        data: horizontalBarChartData,
        options: {
            elements: {
                rectangle: {
                borderWidth: 2
                }
            },
            responsive: true,
            legend: {
                position: "right"
            },
            title: {
                display: true,
                text: "Ranking of Reciters by Verse"
            }
        }
    });
    }
    
    if (document.addEventListener)
    document.addEventListener("DOMContentLoaded", autorun, false);
    else if (document.attachEvent)
    document.attachEvent("onreadystatechange", autorun);
    else window.onload = autorun;


</script>

{% endblock %}   