<!DOCTYPE html> {% extends "base.html" %} {% block content %}

<button type="button" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#createModal">Create User</button>
<br />

<table class="table table-striped table-bordered table-hover table-sm text-center ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">Permissions</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col" colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th scope="row" class="align-middle">{{ user.id }}</th>
            <td class="align-middle">{{ user.permissions }}</td>
            <td class="align-middle">{{ user.name }}</td>
            <td class="align-middle">{{ user.email }}</td>
            <td class="align-middle">
                <button type="button" class="btn btn-primary btn-block btn-sm" data-toggle="modal" data-target="#updateModal{{ user.id }}"><i class="fas fa-edit"></i></button>
            </td>
            <td class="align-middle">
                <button type="button" class="btn btn-danger btn-block btn-sm" data-toggle="modal" data-target="#deleteModal{{ user.id }}"><i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>

        <!-- update user modal -->
        <div class="modal fade" id="updateModal{{ user.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="px-3">
                            <div class="form-group row">
                                <b>Updating User ID {{ user.id }}</b>
                            </div>
                            <div class="form-group row">
                                <label for="updateEmail{{ user.id }}">Email</label>
                                <input type="email" class="form-control" id="updateEmail{{ user.id }}" value="{{ user.email }}">
                            </div>
                            <div class="form-group row">
                                <label for="updatePassword{{ user.id }}">Password</label>
                                <input type="password" class="form-control" id="updatePassword{{ user.id }}">
                            </div>
                            <div class="form-group row">
                                <label for="updateName{{ user.id }}">Full Name</label>
                                <input type="text" class="form-control" id="updateName{{ user.id }}" value="{{ user.name }}">
                            </div>
                            <div class="form-group row">
                                <label for="updatePermissions{{ user.id }}">Permissions</label>
                                <select class="form-control" id="updatePermissions{{ user.id }}" value="{{ user.permissions }}">
                                    <option>user</option>
                                    <option>admin</option>
                                </select>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-8 px-1">
                                    <button type="button" onclick="updateUser({{ user.id }})" class="btn btn-primary btn-block" data-dismiss="modal">update User</button>
                                </div>
                                <div class="col-sm-4 px-1">
                                    <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- delete user modal -->
        <div class="modal fade" id="deleteModal{{ user.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="px-3">
                            <div class="row">
                                <div class="col-sm-8 px-1">
                                    <button type="button" onclick="deleteUser({{ user.id }})" class="btn btn-danger btn-block" data-dismiss="modal">Delete User</button>
                                </div>
                                <div class="col-sm-4 px-1">
                                    <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </tbody>
</table>

<!-- create user modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="px-3">
                    <div class="form-group row">
                        <label for="createEmail">Email</label>
                        <input type="email" class="form-control" id="createEmail" placeholder="name@example.com">
                    </div>
                    <div class="form-group row">
                        <label for="createPassword">Password</label>
                        <input type="password" class="form-control" id="createPassword" placeholder="Password">
                    </div>
                    <div class="form-group row">
                        <label for="createName">Full Name</label>
                        <input type="text" class="form-control" id="createName" placeholder="John Doe">
                    </div>
                    <div class="form-group row">
                        <label for="createPermissions">Permissions</label>
                        <select class="form-control" id="createPermissions">
                            <option>user</option>
                            <option>admin</option>
                        </select>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-8 px-1">
                            <button type="button" onclick="createUser()" class="btn btn-primary btn-block" data-dismiss="modal">Create User</button>
                        </div>
                        <div class="col-sm-4 px-1">
                            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function createUser() {
        jQuery.ajax({
            type: "POST",
            url: "/user",
            data: {
                type: "CREATE",
                permissions: $("#createPermissions").val(),
                name: $("#createName").val(),
                email: $("#createEmail").val(),
                password: $("#createPassword").val(),
            }
        });
        alert("Attempted to create user");
        document.location.reload();
    }

    function deleteUser(uid) {
        jQuery.ajax({
            type: "POST",
            url: "/user",
            data: {
                type: "DELETE",
                id: uid
            }
        });
        alert("Attempted to delete user");
        document.location.reload();
    }

    function updateUser(uid) {
        jQuery.ajax({
            type: "POST",
            url: "/user",
            data: {
                type: "UPDATE",
                id: uid,
                permissions: $("#updatePermissions"+uid).val(),
                name: $("#updateName"+uid).val(),
                email: $("#updateEmail"+uid).val(),
                password: $("#updatePassword"+uid).val(),
            }
        });
        alert("Attempted to update user");
        document.location.reload();
    }
</script>

{% endblock %}