<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

<div class="py-2 mx-auto text-center">
  <h1 class="display-4">Quran Reciter Voting App</h1>
  <p class="lead">See what your fellow users are doing below...<br />Welcome to the feed!</p>
</div>

<div class="card">
  <div class="card-header">
    <h5 class="card-title">Activity</h5>
    <p class="card-text">Current time: 11:49PM WST</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">11:57PM - <b>Aviciena Santoso</b> just voted on ...</li>
    <li class="list-group-item">11:56PM - <b>Yulianita Santoso</b> just voted on ...</li>
    <li class="list-group-item">11:50PM - <b>Sauda Omar</b> just voted on ...</li>
  </ul>
</div>
<br />
<div class="card">
  <div class="card-header">
    <h5 class="card-title">Current Statistics</h5>
    <p class="card-text">Here are some statistics for today...</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">x Votes Made</li>
    <li class="list-group-item">x Votes Made</li>
    <li class="list-group-item">x Votes Made</li>
  </ul>
</div>

{% endblock %}   