<!DOCTYPE html> {% extends "base.html" %} {% block content %}

<div class="py-2 mx-auto text-center">
    <h1 class="display-4">Chapter {{ chapter.id }} - {{ chapter.name }} ({{ chapter.translation }})</h1>
    <p class="lead">Vote Below!</p>
</div>

<table class="table table-striped table-bordered table-hover table-sm text-center ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Listen to Recitation</th>
            <th scope="col">Vote</th>
        </tr>
    </thead>
    <tbody>
        {% for reciter in reciters %}
          <tr>
              <th scope="row" class="align-middle">{{ reciter.id }}</th>
              <td class="align-middle">{{ reciter.name }}</td>
              <td class="align-middle">
                  <audio controls class="full-width-audio">
                      <source class="d-block" src="/audio/{{ reciter.nick }}/{{ chapter.id }}.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                  </audio>
              </td>
              <td class="align-middle">
              {% if not vote %}
              <button type="button" class="btn btn-info btn-block btn-sm" onclick = "vote({{ reciter.id }}, {{ chapter.id }}, {{ current_user.id }})" ><i class="fas fa-star"></i></button>
              {% endif %}
              {% if vote %}
                Thanks for voting!
              {% endif %}
              </td>
          </tr>
        {% endfor %}
    </tbody>
</table>

<br />

<button type="button" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#pickModal">Pick Chapter</button>

<!-- pick chapter modal -->
<div class="modal fade" id="pickModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
      <div class="row text-center no-gutters">
      <div class="col-sm-8 px-1">
            <select class="form-control" id="chapSelect">
                {% for chapter in chapters %}
                <option value={{chapter.id}}>{{chapter.id}} > {{chapter.name}} ({{chapter.translation}})</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-2 px-1">
            <button type="button" class="btn btn-info btn-block" onclick="getChapter()"><i class="fas fa-search"></i></button>
        </div>
        <div class="col-sm-2 px-1">
            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal"><i class="fa fa-window-close" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
    function vote(reciter, chapterId, userId) {
        jQuery.ajax({
            type: "POST",
            url: "/vote",
            data: {type: "CREATE", reciter: reciter, chapter: chapterId, user:userId}
        });
        alert("Vote Submitted");
        document.location.reload();
    }
    function getChapter() {
      chapter = parseInt($('#chapSelect').val());
      window.location.href = "/votepage/" + chapter;
    };
</script>

{% endblock %}